@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom */
.align-center{
  align-items: center;
}
.space{
  height:100px;
}


/* font weight 400 text buttons */
.p-button .p-button-label{
  @apply font-normal;
}

/* Size icons tags */
.p-tag-icon {
  font-size: 20px !important;
}
.pi-circle-fill{
  font-size: 9px !important;
}

/* Styles DataTable */
.p-column-title{
  @apply text-white
}
.p-datatable-tbody tr:nth-child(odd){
  @apply bg-secundary-200 !important
}
.p-datatable-tbody tr:nth-child(even){
  @apply bg-secundary-100 !important
}
.p-datatable .p-datatable-tbody > tr.p-highlight{
  @apply !text-gray-900;
}

.p-datatable-table thead th:nth-child(1) .p-checkbox.p-component{
  @apply !hidden
}

.mini-table .p-column-title{
  @apply !text-primary-900
}
.mini-table .p-datatable .p-datatable-tbody > tr{
 @apply !bg-secundary-300
}
.mini-table .p-datatable thead > tr > th{
  padding: 25px 30px 20px 30px;
}
.mini-table .p-datatable thead > tr > th:nth-child(1) {
  border-top-left-radius: 15px; 

}
.mini-table .p-datatable thead > tr > th:last-child {
  border-top-right-radius: 15px; 
}
.mini-table .p-datatable tbody > tr > td{
  padding: 0 30px 0px 30px;
}
.mini-table .p-datatable tbody > tr:last-child > td{
  padding: 0 30px 25px 30px;
}
.mini-table .p-datatable tbody > tr:last-child > td:nth-child(1) {
  border-bottom-left-radius: 15px; 
 
}
.mini-table .p-datatable tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 15px; 
}
.mini-table .p-datatable tbody > tr:last-child > td,
.mini-table .p-datatable .p-datatable-thead > tr > th{
  @apply !border-none;
}

/* Check in table */
.p-checkbox .p-checkbox-box.p-highlight{
  @apply !border-primary-900 !bg-primary-900
}

/* Styles Tags colors */
.tag-font-status{
  @apply !font-normal !text-sm !px-4 !py-2 
}
.tag-font-method{
  @apply !font-normal !text-sm !px-4 !py-1 
}
.tag-rounded-blue{
  @apply !bg-primary-100 !text-primary-900
}


.tag-radius{
  border-radius: 15px !important;
}
.p-tag-1{
  @apply !bg-primary-100;
}

.p-tag-1 span{
  @apply !text-primary-900
}
.p-tag-2{
  @apply !bg-orange-100;
  
}
.p-tag-2 span{
  @apply !text-orange-900
}
.p-tag-3{
  @apply !bg-green-100;
}
.p-tag-3 span{
  @apply !text-green-900
}
.p-tag-4{
  @apply !bg-blue-dark-100;
}
.p-tag-4{
  @apply !text-blue-dark-900
}


/* Styles selects */
.p-treeselect{
  @apply !border-none;
}

.p-treeselect .p-treeselect-label.p-placeholder{
  @apply !text-primary-900;
}
.p-treeselect svg path{
  fill: #259BD7;
}

.p-dialog-header{
  @apply !p-1;
}

.remove-format-input input{
    background: transparent !important;
    border: none !important;
    width: 100px;
}

.remove-format-input .p-inputtext:enabled:focus {
  box-shadow: none;
}

/* Editor textarea */
.p-editor-container .p-editor-toolbar{
  @apply !bg-white !border-b-0
}

.p-button-outlined {
  @apply !bg-white
}